@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  @apply font-sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-gradient-to-r from-blue-300 to-indigo-500;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


main{
  min-height: 74.5vh;
}

/* navigation */
header{
  @apply sticky top-0;
}

nav{
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 3%;
}

nav a, .nav-link{
  @apply font-bold px-3 py-2 hover:text-white duration-700;
  font-size: 15pt;
  cursor: pointer;
}


/* Main page */
.aboutMe{
  @apply flex items-center;
  width: 100%;
  margin-top:12%;
}

.aboutMeTitle{
  width: 100%;
}

.mePhoto{
  border-radius: 50%;
  margin-left: 35%;
}
.name{
  margin-left: 13%;
  font-size: 200%;
}

.subtitle{
  margin-left: 10%;
  width: 100%;
  font-size: 180%;
}


/* About Me */

.aboutMeDiv{
  width: 50%;
  margin-top: 12%;
  margin-left: 25%;
}


/* Footer */
footer{
  display: flex;
}

.logo{
  margin-left: 35%;
}